# ========== Global Ignore ==========
# OS / 에디터 환경 파일
.DS_Store
*.pem

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Environment files (환경설정 파일 - 필요 시 opt-in)
.env*

# ===================================
# ========== Frontend Ignore ==========
# frontend/app01 경로 기반
frontend/app01/node_modules
frontend/app01/.pnp
frontend/app01/.pnp.*
frontend/app01/.yarn/*
!frontend/app01/.yarn/patches
!frontend/app01/.yarn/plugins
!frontend/app01/.yarn/releases
!frontend/app01/.yarn/versions

# Testing
frontend/app01/coverage

# Next.js build outputs
frontend/app01/.next/
frontend/app01/out/

# Production build
frontend/app01/build

# Vercel deploy config
frontend/app01/.vercel

# TypeScript build artifacts
frontend/app01/*.tsbuildinfo
frontend/app01/next-env.d.ts


# Java backend
backend/venv/
backend/target/
backend/server_todo-main/.gradle
backend/server_todo-main/build

backend/server_todo-main/.DS_Store
backend/server_todo-main/gitignore